.DS_Store

# C/C++ build artifacts
*.o
*.out

# Local binaries
01-processes/hello
02-pid-namespaces/pidns
03-user-namespaces/userns
04-mount-namespaces/mountns

# Python
__pycache__/
.venv/

# Environment / secrets
.env

# Seccomp experiment binaries
08-seccomp/seccomp_demo
08-seccomp/seccomp_supervisor
